@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
    <div asp-validation-summary="All" class="text-danger" id="valid-summary"></div>
    <div class="form-group">
        <label asp-for="UploadForm.File" for="file-input"> </label>
        <input asp-for="UploadForm.File" type="file" name="file" id="file-input"/>
        <span asp-validation-for="UploadForm.File" class="text-danger"></span>
    </div>
    
    <input type="submit" class="btn btn-default" value="Upload" id="upload-btn"/>
    
</form>
@if(Model.Journal != null && Model.Journal.Hosts.Any())
{
    <hr>
    
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover" id="journal">
            <thead>
                <tr>
                    <th>Host IP</th>
                    <th>Host Name</th>
                    <th>Org</th>
                    <th>Type</th>
                    <th>Code</th>  
                    <th>DateTime</th>
                    <th>Path</th>
                    <th>File</th>
                    <th>Bytes</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var host in Model.Journal.Hosts)
                {
                    
                        @foreach(var request in host.Requests)
                        {
                            <tr>
                            
                                <td>@host.IpAddress</td>
                                <td>@host.HostName</td>
                                <td>@host.OrgName</td>
                                <td>@request.RequestType</td>
                                <td>@request.ResponseStatusCode</td>
                                <td>@request.DateTimeRequested</td>
                                <td>@request.FilePath</td>
                                <td>@request.FileName</td>
                                <td>@request.BytesSent</td>
                            </tr>
                        }
                }
            </tbody>
        </table>
    </div>
}
else 
{
    <h1>Journal is empty</h1> 
}

@section scripts {
    
    <script>
        $(document).ready(function() {
            $('#journal').DataTable();

            $('#upload-btn').click(function()  {
                $('#valid-summary').empty();
            });
        });
    </script>
}